.Container {
    position: relative;
    max-height: 650px;
    overflow: hidden;
}

/* Style the video: 100% width and height to cover the entire window */
.Video {
    width: 100%;
      height: 100%;
  }

  /* Add some content at the bottom of the video/page */
  .Content {
    position: absolute;
    top: 0;
    color:#f1f1f1;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }



  .Hero {
    padding-right: 20%;
    padding-left: 20%;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: auto;
  }


.Donate {
  background-color: rgba(64, 75, 107, .9);
  display: flex;
  flex-Wrap: no-wrap;
  margin-Left: 10rem;
  margin-Right: 10rem;
  min-height: 150px;
  padding-top: 50px;
  padding-bottom: 50px


}

@media screen and (max-width: 700px) {
  .Hero {

    padding-right: 5%;
    padding-left: 5%;
  }
  .Donate {
    padding: 10px;
    padding-bottom: 100px;
    margin-Left: 0px;
    margin-Right: 0px;
    min-height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .DonateCopy {
    display: none;
  }
  .DonateButton {
    padding-bottom: 100px;

  }
}
